    <section id="imgBanner">
      <h2>BLOCKCHAIN HACKATHON</h2>
    </section>
    <section id="courseArchive">
      <div class="container">
        <div class="row">
          <!-- start course content -->
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="courseArchive_content">
              <div class="row">
                <!-- start single course -->
                    <ng-container *ngFor="let actor of actors; let i = index">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="single_course wow fadeInUp">
                          <div class="singCourse_imgarea">
                            <img src="../../assets/team{{i+1}}.jpg" />
                            <div class="mask">                         
                              <a class="course_more" data-toggle="modal" data-target="#myModal" >VOTE</a>
                            </div>
                          </div>
                          <div class="singCourse_content">
                              <div class="modal fade" id="myModal" role="dialog">
                                  <div class="modal-dialog">
                                  
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">You have: {{current_coin}} coins</h4>
                                      </div>
                                      <div class="modal-body">
                                          <label for="usr">Enter your point:</label>
                                          <input type="text" class="form-control" [(ngModel)]="wei" id="usr">
                                          <div class="row btn-group">
                                            <button type="button" class="btn btn-primary"  (click)="submitVote(i)"  data-dismiss="modal">VOTE</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                          <h3 class="singCourse_title">Team {{actor.name}}</h3>
                          <p class="singCourse_price"><span>10 HedspiCoin</span> Per One Point</p>  
                          </div>
                        </div>
                      </div>
                    </ng-container>
                
                <!-- End single course -->
              </div>
              <!-- start previous & next button -->
              <div class="single_blog_prevnext">
                <a href="#" class="prev_post wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;"><i class="fa fa-angle-left"></i>Previous</a>
                <a href="#" class="next_post wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">Next<i class="fa fa-angle-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
