
<div class="row">
  <h1>{{current_coin}}</h1>

  <form #f="ngForm" (ngSubmit)="submitVote(f)" novalidate>
  
    <div class="items">
      <ng-container *ngFor="let actor of actors ; let i = index">
        <input id="item{{i}}" name="item{{i}}" type="checkbox" (change)="addVotes(i)">
        <label for="item{{i}}">{{actor.name}}</label>
      </ng-container>
      <h2 class="done" aria-hidden="true">Voted</h2>
      <h2 class="undone" aria-hidden="true">Not vote</h2>
  
    </div>
    <div id="submit_vote">
      <button type="submit">submit</button>
    </div>
  </form>
</div>
<p>{{current_coin}}dfadf</p>
<div>
  <h3></h3>
</div>